*, ::before, *::after {
	box-sizing: border-box;    
}

html, body {
	height: 100%;
}
body {
	position: relative;
	margin: 0;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	line-height: 1.4;
	background-color: #333;
}

.login-panel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100%;
	width: 400px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
	padding: 0 50px;

	h1 {
			font-family: 'Saira Semi Condensed', sans-serif;
			font-weight: 400;
			line-height: 1;
	}

	.qldgov-logo {
			margin: 100px 0 0 0;
	}
	.qldgov-logo img {
			width: 85%;
			margin: 0 auto;
			display: block;
			filter: drop-shadow(1px 1px 0 #000);
	}
	
	form {
			display: block;
			margin: 0;
	}
	
	.field-wrapper {
			margin-bottom: 1.25em;
	}

	label {
			display: block;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 0.25em;
	}
	.inputbox {
			font-size: 15px;
			padding: 8px 10px;
			border-style: none;
			border-radius: 1px;
			width: 100%;
			box-shadow: 2px 2px 5px rgba(0,0,0,0.45);
	}
	.button {
			font-size: 16px;
			padding: 0.75em 2em;
			background-color: #0984e3;
			color: #fff;
			border-style: none;
			border-radius: 4px;
			box-shadow: 2px 2px 5px rgba(0,0,0,0.45);
			transition: all 0.15s ease;
			cursor: pointer;
	
			&:hover {
					background-color: #2293ea;
			}
			&:active {
					position: relative;
					top: 1px;
					box-shadow: 0 0 10px rgba(0,0,0,0.75);
			}
	}
	
	hr {
			width: 100%;
			height: 0;
			margin: 40px 0;
			border-style: none;
			border-top: 1px solid #666;
			box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
	}
	.copyright {
			text-align: center;
			font-size: 12px;
			position: absolute;
			bottom: 15px;
			left: 0;
			width: 100%;
			color: #aaa;
	}
	a {
			color: #fff;
	}
	.permission {
			margin-top: 3em;
	
			a {
					color: #ffbd3f;
			}
	}
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-image: url('./?a=1446878');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	background-color: #333;
	
	/* https://www.freepik.com/free-photos-vectors/background - Background photo created by denamorado - www.freepik.com */
}