// cards
.cards {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0 -0.5rem 2rem -0.5rem;
    flex-wrap: wrap;
    text-align: center;

    @include screen(tablet) {
        &.col-2 {
            li {
                width: calc(50% - 1rem);
            }
        }
        &.col-3 {
            li {
                width: calc(33.33333333% - 1rem);
            }
        }
        &.col-4 {
            li {
                width: calc(25% - 1rem);
            }
        }
    }
    
    li {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}