header {

    .header {
        @include screen('tablet') {
            display: flex;
            min-height: 112px;
            padding: 0.75em;
        }
    
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .header-department {
            padding: 0.75em 1em;
            
            @include screen('tablet') {
                padding: 0;
            }
            
            .logos {
                width: 200px;

                picture {
                    @include print {
                        display: none;
                    }
                }
                @include screen('tablet') {
                    width: 300px;
                }
               
                @include print {
                    width: 300px;
                }
                .print-logo {
                    display: none;

                    @include print {
                        display: block;
                    }
                }   
             
            
                a {
                    display: block;
                }
            }
            .department-name {
                display: inline-block;
                margin-top: 0.5em;
                font-size: 1.1em;
            }
        }
        .global-search {
            position: relative;
            display: flex;
            width: 100%;
            @include screen('tablet') {
                width: auto;
            }
            
            .header-search-input {
                margin: 0;
                @include screen('tablet') {
                    width: 300px;
                }
                width: calc(100% - 80px);
                font-size: inherit;
                font-family: inherit;
                line-height: 1;
                padding: 0.5em 0.75em;
                border-style: none;
                border-radius: 0;

                &:focus {
                    border-style: none;
                    box-shadow: none;
                }
            }
            button {
                border-style: none;
                width: 35px;
                height: 35px;
                font-size: 1.3em;
                padding: 0;
                cursor: pointer;
                border-radius: 0;
            }
            button:active {
                top: 1px;
            }

            .icon-menu-toggle {
                @include screen('desktop') {
                    display:none;
                }
                display: block;
                width: 35px;
                height: 35px;
                position: relative;
                top: 0;
                left: 0;
                margin-left: 10px;
                cursor: pointer;
                
                .icon-menu-bar {
                    display: block;
                    width: 21px;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 1px;
                    position: absolute;
                    top: 8px;
                    left: 7px;
                    transition: all 0.15s ease;
                    
                    &.menu-bar-2 { top: 16px; }
                    &.menu-bar-3 { top: 24px; }
                }
                
                &.active { 
                    background-color: #189cc6;
                    .menu-bar-1 { opacity: 0; }
                    .menu-bar-2-1 { transform: rotate(46deg); }
                    .menu-bar-2-2 { transform: rotate(-46deg); }
                    .menu-bar-3 { opacity: 0; }
                }
            }  
        }

        .header-utilities {
            display: flex;
            margin-left: auto;
            text-align: left;
            padding: 0.75em;

            @include screen('tablet') {
                display: block;
                text-align: right;
                padding: 0;
            }
     
            @include print {
                display: none;
            }

            .utilities {
                display: none;
                list-style-type: none;
                margin: 0.75em 0 0 0;
                padding: 0;
                @include screen('desktop') {
                    display: flex;
                    justify-content: flex-end;
                }
            
                > li {
                    font-size: 0.85em;
                    line-height: 1.2;
                    padding: 0 0.75em;
                }
                > li:last-child {
                    border-style: none;
                }
            }
        }
    }
}