.image-gallery-heading {
    margin-bottom: 0.25em;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    @include print {
        display: block;
    }
    margin: 0 0 2em 0;
    padding: 0;
    list-style-type: none;

    li {
        padding: 5px;
        overflow: hidden;
        position: relative;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &.col-2 li {
        width: 50%;
        height: 150px;
        @include screen(tablet) { height: 105px; }
        @include screen(desktop) { height: 225px; }
        @include print { height: 225px; }
    }
    &.col-3 li {
        width: calc(100% / 3);
        height: 85px;
        @include screen(tablet) { height: 105px; }
        @include screen(desktop) { height: 175px; }
        @include print { height: 165px; }
    }
    &.col-4 li {
        width: 25%;
        height: 85px;
        @include screen(tablet) { height: 130px; }
        @include print { height: 165px; }
    }
}
