.news-article {
    .news-date {
        margin-bottom: 1em;
    }
    .news-summary {
        font-weight: bold;
    }
}

.news-listing {
    @include screen(tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    border-top-width: 2px;
    
    .news-item {
        border: 1px solid #e6e6e6;
        border-bottom-width: 2px;
        @include screen(tablet) {
            width: calc(33.33333333% - 1em);
        }
        margin: 0.5em;

        .news-image {
            background-color: #e6e6e6;
        }
        .news-summary {
            background-color: #fff;
            padding: 1em;
                    
            p:last-child {
                margin-bottom: 0;
            }
            .news-date {
                font-size: 0.9em;
                color: #666;
            }
        }
    }
}