.sidebar-site-utilities {
    @include print {
        display: none;
    }
    
    display: flex;
    flex-direction: row;
    margin: 0 0 1em 0;
    padding: 0;
    list-style-type: none;
    overflow: visible;

    li {
        width: 44px;
        height: 44px;
    }

    a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: #eee;
        font-size: 1.5em;
        transition: all 0.085s ease;
        color: #444;
    }
    a:hover { color: #fff; }
    a.email:hover { background-color:#cb3128; }
    a.print:hover { background-color: #666; }
    a.facebook:hover { background-color: #3b5998; }
    a.twitter:hover { background-color: #1da1f2; }
    a.linkedin:hover { background-color: #0077b5; }


    @include screen(desktop) {
        flex-direction: column;
        position: absolute;
        top: 2em;
        right: 0;
        margin: 0;
    }    
}

.fullwidth .sidebar-site-utilities {
    @include screen(desktop) {
        flex-direction: row;
        position: initial;
        float: right;
        margin-left: 2em;
    }
}